body {
	background-color: #0b0d40
}

.back-button {
	position: fixed;
	width: 200px;
	top: 10px;
	left: 20px;
	z-index: 2000;
}

img.back-button {
	opacity: 0.6;
	transition: opacity 1s ease-in-out;
}

img.back-button:hover {
	opacity: 1;
}
